

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family:Poppins
}



#nav{
    
    width: 100%;
    height: 100px;
    display: flex;
   justify-content: space-between;
   /* background-color:rgb(228, 211, 191); */
   
   background: linear-gradient(90deg, #98a2ac 0%, #ac6a68 100%); 
    }
    
  
   
#nav>div>img{
    width: 80px;
    height: 80px;
   margin: 10px;

    
}
#search{
    width: 45%;
    height: 30%;
     /* padding:4px 100px; */
    display: flex;
    margin-top: 50px;
    /* boerder:1px solid red; */
     
    
}
#search-form{
    display:flex;
    width: 500px;
}
#search button{
    font-size: 19px;
    padding:3px 10px;
    border-radius:5px;
    border:none;
}

#search input{
    flex:1;
    width: 30%;
    font-size: 20px;
    padding:3px 10px;
    border-radius:5px;
    border:1px solid #eee
   
}
#home{
    width:27%;
    
    display: flex;
    justify-content: space-between;
}
#home a{
   color:black;
   /* color:white; */
   /* background: green; */
   text-decoration: none;
   
}
#login{
    width: 200px;
    
    
}
#login a{
    color:black;
    /* color:white; */
    /* background: green; */
    text-decoration: none;
    
    
}
a:hover{
   color: white !important;
}
#login h3{
    margin-left: 10px;
}
#login img{
width: 50px;
height: 50px;
margin-top: 10px;
}

#login>div:nth-child(2){
    width: 100%;
    height: 60%;
    
    margin-top: 10px;
    display: flex;
    font-family: serif;
    
    
}
#offer{
    width: 100%;
    height: 40px;
    background-color: rgb(208, 222, 235);
    margin-top: 10px;
   
}
#offer>select{
    width: 200px;
    height: 40px;
    text-align: left;
   
    font-family:sans-serif;
    font-size: 16px;
    
}
#shopbtn{
    background-color: red;
}
#shopbtn option{
    background-color: white;
}



.slide-image{
    position: relative;
    width: 100%;

}
.slide img{
    width: 100%;
    height: 20%;
    
    margin-top: 10px;
}
#btn{
    width: 90%;
    margin: auto;
  
    display: grid;
    grid-template-columns: repeat(6,1fr);  
    column-gap: 1%;   
    margin-top: 15px;
    
    
}
#btn>button{
    
    font-size: large;
    font-style:bold;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    
}
#btn>button:nth-child(3){
    background-color: rgb(19, 65, 19);
    color: white;
}
#btn>button:nth-child(2){
    background-color:rgb(34, 2, 34) ;
    color:rgb(204, 6, 6);

}
#Boffer{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 232, 240);
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;
}
#bank{
    width: 90%;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);  
    column-gap: 1%;   
    margin-top: 15px;
    
    
}
#bank div img{
width: 100%;
}

#Paragraph{
    width: 85%;
    margin-top: 25px;
    border: 1px solid gray;
    color: gray;
    margin-left: 6%;
    padding: 15px;
}
#Paragraph h1{
    color: black;
}
#dietimg{
    
    width: 90%;
    margin-left:5% ;
    margin-top: 3%;
}
#brand_store{
    width: 90%;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(6,1fr);  
    column-gap: 1%;   
    margin-top: 15px;
    
    
}
#brand_store div img{
width: 100%;
}
#brand_store div{
    border: 1px solid gray;
}
#Bbrand{
    width: 100%;
    height: 20%;
    
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;
}
#vegi{
    width: 90%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(6,1fr);  
    column-gap: 1%;   
    margin-top: 15px;   
}
#vegi div img:hover {
    transform: scale(1.1)
}

#vegi div img{
width: 100%;
}
#vegi div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#Fvegi{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 232, 240);
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;  
}
#Daily_Staples{
    width: 90%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(6,1fr);  
    column-gap: 1%;   
    margin-top: 15px;   
}
#Daily_Staples div img{
width: 100%;
}
#Daily_Staples div img:hover {
    transform: scale(1.1)
}
#Daily_Staples div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#Dstaples{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 232, 240);
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;   
}

#Beverages{
    width: 90%;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(6,1fr);  
    column-gap: 1%;   
    margin-top: 15px;   
}
#Beverages div img{
width: 100%;
}
#Beverages div img:hover {
    transform: scale(1.1)
}
#Beverages div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#beve{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 232, 240);
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;   
}

#Snacks_Store{
    width: 90%;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);  
    column-gap: 1%;   
    margin-top: 15px;   
}
#Snacks_Store div img{
width: 100%;
}
#Snacks_Store div img:hover {
    transform: scale(1.1)
}
#Snacks_Store div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#Snacks{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 232, 240);
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;   
}
#Hygiene{
    width: 90%;
    margin: auto;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);  
    column-gap: 1%;   
    margin-top: 15px;   
}
#Hygiene div img{
width: 100%;
}
#Hygiene div img:hover {
    transform: scale(1.1)
}
#Hygiene div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#Hy{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 232, 240);
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: grey;   
}

/* footer */

#footer{
    display:grid;
    justify-content:space-around;
    width:86%;
    margin:auto;
    grid-template-columns: repeat(4,1fr);
    
    padding:5px

}
#footer>div>p:nth-child(1){
    color:green;
}
.foot{
    display:flex;
    flex-direction:column;
    border-radius:1px solid green;
    margin:auto;
    /* gap:-10px; */
}
.foot img{
   width:60%;

   
   
}

.round-social{
    display:flex;
    gap:5px;
    box-sizing:border-box;
}
.round-social img{
    width:80%;
}



.round-social>div{
   border-radius:50%;
   width:40px;
   height:40px;
   /* border:1px solid red; */
}



@media only screen and (max-width:900px){
  #bank{
    grid-template-columns: repeat(2,2fr); 
  }
  #brand_store{
    grid-template-columns: repeat(3,1fr);
  }
  #vegi{
    grid-template-columns: repeat(3,1fr);  
  }
  #Daily_Staples{
    grid-template-columns: repeat(3,1fr); 
  }
  #Beverages{
    grid-template-columns: repeat(3,1fr); 
  }
  #Snacks_Store{
    grid-template-columns: repeat(2,1fr);  
  }
  #Hygiene{
    grid-template-columns: repeat(2,1fr);
  }
  #footer{
    grid-template-columns: repeat(2,1fr);
  }
  .slide-image{
    display: none;
}
.Middleslide{
    display: none;
}
  #dietimg{
    display: none;
  }
  #btn{
    grid-template-columns: repeat(3,1fr); 
  }
  
  #search input{
    width: 50%;
    font-size: 10px;
  }
  #search button{
    font-size: 10px;
    padding:2px 6px;
  }
  #home{
    display: none;
  }
}

@media only screen and (max-width:500px){
    #bank{
      grid-template-columns: repeat(1,2fr); 
    }
    #brand_store{
      grid-template-columns: repeat(2,1fr);
    }
    #vegi{
      grid-template-columns: repeat(2,1fr);  
    }
    #Daily_Staples{
      grid-template-columns: repeat(2,1fr); 
    }
    #Beverages{
      grid-template-columns: repeat(2,1fr); 
    }
    #Snacks_Store{
      grid-template-columns: repeat(1,1fr);  
    }
    #Hygiene{
      grid-template-columns: repeat(1,1fr);
    }
    #footer{
      grid-template-columns: repeat(1,1fr);
    }
    #btn{
        grid-template-columns: repeat(1,1fr); 
        
      }
      #btn>button{
        padding: 5px 10px 5px 10px;
        font-size: medium;
      }
      #offer{
        height: 80px;
      }
      #login div img{
        display: none;
      }
      #login div h3{
        font-size: medium;
      }
      #login h3{
        margin-left: 2px;
      }
     
  }
